@import "tailwindcss";

:root{
    --primary-color: #0E6CF3;
    --primary-hovered: #0b56c0;
    --primary-light: #E6EEFE;
    --tinted-white: #F5F7F9;
    --white: #FFFFFF;
    --black: #062441;
    --gray: #8595A4;

    font-family: "Inter", sans-serif;
}

.page-title{
    @apply text-5xl font-semibold;
    color: var(--black);
}

.page-subtitle{
    @apply text-base;
    color: var(--gray);
}

.page-medium-text{
    @apply text-2xl font-semibold;
    color: var(--black);
}

.page-medium-text span{
    color: var(--gray);
}

.searchbar-row {
    @apply flex items-center justify-between w-full;
    padding-top: 15px
}

.search-container {
    @apply w-1/2 relative rounded-xl;
    background-color: var(--white)
}

.search-icon {
    @apply absolute left-4 top-1/2 transform -translate-y-1/2 text-gray-400 text-xl;
}

.search-bar {
    padding: 15px;
    padding-left: 50px;
    @apply w-full pr-4 py-4 rounded-xl shadow-sm
           focus:outline-none focus:ring-2 focus:ring-[var(--primary-color)] focus:border-transparent
           text-gray-700 placeholder-gray-400 border border-[var(--gray)];
}

.search-bar:focus {
    border-color: var(--primary-color); 
    outline: none;
    box-shadow: 0 0 0 0.5px var(--primary-color); 
}

.iconed-button {
    @apply flex items-center gap-2 rounded-lg py-4 px-4 
           shadow-md transition-all duration-200;
    color: var(--white);
    background-color: var(--primary-color);
}


.button-icon {
    @apply text-xl;
}

.iconed-button span {
    @apply hidden sm:inline;
}

.iconed-button:hover {
    background-color: var(--primary-hovered);
}


.number-dropdown {
    @apply w-24 px-4 py-4 border rounded-lg shadow-sm focus:outline-none focus:ring-2;

    border-color: var(--gray);
    color: var(--black);
    background-color: var(--white);
}

.number-dropdown:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.5px var(--primary-color);
}

.toolkit {
    @apply flex items-start w-1/2 ml-auto gap-4 justify-end;
    padding-top: 15px;
}

