@import "tailwindcss";

.layout-body {
    @apply flex h-screen; /* Ensures full height & horizontal flex layout */
}

.layout-sidebar {
    @apply flex-shrink-0 transition-all duration-300 bg-white shadow-lg;
    width: 16rem; /* Default expanded width */
}

.layout-sidebar.collapsed {
    width: 5rem; /* Width when collapsed */
}

.layout-main {
    padding: 25px;
    @apply flex-1 overflow-y-auto bg-gray-100;
    min-width: 0; /* Prevents layout breaking when sidebar collapses */
}
