@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";

@theme inline {
  --font-display: "Inter", sans-serif;

  --color-astraprimary: #0E6CF3;
  --color-astradark: #0F59C3;
  --color-astralight: #64A4FF;

  --color-astrablack: #061A37;
  --color-astragray: #E4E5E5;
  --color-astradarkgray: #526683;
  --color-astralightgray: #99AFCE;

  --color-astrawhite: #FFFFFF;
  --color-astradirtywhite: #F3F5F9;
  --color-astratintedwhite: #EFF2FA;

  --color-astragreen: #02BB8F;
  --color-astrared: #E8403C;
  --color-astrayellow: #FF8C01;
}

body {
  font-family: var(--font-display);
  color: var(--color-astrablack);
}

@layer utilities {
  /* Base font classes (to be used for desktop version) */
  .font-h1 {
    @apply text-5xl font-semibold;
  }
  .font-h2 {
    @apply text-4xl font-semibold;
  }
  .font-l {
    @apply text-2xl;
  }
  .font-lb {
    @apply text-2xl font-semibold;
  }
  .font-r {
    @apply text-lg;
  }
  .font-rb {
    @apply text-lg font-semibold;
  }
  .font-s {
    @apply text-sm;
  }
  .font-sb {
    @apply text-sm font-semibold;
  }

  /* Responsive variants */
  @media (max-width: 768px) {
    .font-h1 {
      @apply text-4xl font-semibold;
    }
    .font-h2 {
      @apply text-3xl font-semibold;
    }
    .font-l {
      @apply text-xl;
    }
    .font-lb {
      @apply text-xl font-semibold;
    }
    .font-r {
      @apply text-base;
    }
    .font-rb {
      @apply text-base font-semibold;
    }
    .font-s {
      @apply text-sm;
    }
    .font-sb {
      @apply text-sm font-semibold;
    }
  }
}

@layer components {
  button{
    @apply cursor-pointer transition-all duration-150 ease-in-out;
  }
  button:hover{
    @apply scale-102;
  }

  .gray-button {
    @apply px-3 py-2 bg-astratintedwhite text-astraprimary rounded-xl shadow-sm;
  }
  .gray-button:hover{
    @apply bg-astragray
  }

  .blue-button {
    @apply px-3 py-2 bg-astraprimary text-astrawhite rounded-xl shadow-sm;
  }
  .blue-button:hover{
    @apply bg-astradark
  }

  .green-button {
    @apply px-3 py-2 bg-astragreen text-astrawhite rounded-xl shadow-sm;
  }
  .green-button:hover{
    @apply bg-[#038062]
  }

  .red-button {
    @apply px-3 py-2 bg-astrared text-astrawhite rounded-xl shadow-sm;
  }
  .red-button:hover{
    @apply bg-[#C73633]
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }

}
