@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --maroon: #550000;
  --primary: #0e6cf3;
  --secondary: #215299;
  --navy: #062441;
  --light-blue: #e6eefe;
  --very-light-blue: #fbfdff;
  --light-gray: #f6f8fc;
  --medium-gray: #8595a4;
  --border-color: #c4c4c4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
